<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>Busca tu intento</title>
    </head>
    <body>
        <h1>busca tu intento</h1>
        <form action="searchTry" method="post" modelAttribute="info">
            <span>Num intento</span>
            <input path="numJugada" type="number" name="numJugada" autofocus>
            <input type="submit" value="Add"/>
        </form>
        <div th:if="${info.numJugada != null}">
            <span>intento: </span>
            <span th:text="${info.Message}"></span>
        </div>
    </body>
</html>