<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>wordle</title>
    </head>
    <body>
        <h1>wordle</h1>
        <form action="play" method="post" modelAttribute="info">
            <span>palabra</span>
            <input path="wordToPlay" type="text" name="wordToPlay" placeholder="palabra" th:maxlength="${game.getNumAnswer.length}">
            <input type="submit" value="Add"/>
        </form>
        <!-- show the word in screen-->
        <div th:if="${info.wordToPlay != null}">
            <span>Palabra jugada: </span>
            <table>
                <tr>
                    <th:block th:each="i : ${#numbers.sequence(0, palabraJugada.length-1, +1)}">
                        <td>
                            <div th:style="'background-color:' + ${info.answer[i]}" th:text="${palabraJugada[i]}"></div>
                        </td>
                    </th:block>
                </tr>
            </table>
        <div th:if="${info.wordToPlay != null}">
            <span>tamaño correcto: </span>
            <span th:text="${info.errorMessage}"></span>
        <div th:if="${info.wordToPlay != null}">
            <span>intentos: </span>
            <span th:text="${info.message}"></span>
    </body>
</html>
